target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.idea/
/.mvn/
dbconnection.git/branches/
dbconnection.git/objects/
dbconnection.git/refs/
src/main/docker/
src/main/resources/static/
/mvnw.cmd
/.gitignore
/dbconnection.iml
/mvnw
/target/
!/src/main/docker/
!/src/main/docker/Dockerfile
